label {
  display: block;
}

button {
  padding: 4px;
  background-color: rgba(61, 159, 204, 0.507);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-left: 8px;
  &:hover {
    background-color: rgba(140, 203, 233, 0.507);
  }
}


.todo-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
